body {
  background-color: rgba(214, 205, 205, 0.692) !important ;
}
.add-card {
  display: flex;
  justify-content: space-evenly;
}
#card-name-input {
  max-width: 70% !important;
}
.cardlist {
  border: 1px solid #ced4da;
}
#mycard {
  max-width: 300px;
  /* height: fit-content; */
}
#create-card {
  height: fit-content;
}
